html {
    font-size: 14px;
}

th {
    font-size: 12px;
    font-weight: 100;
}


#header-style {
    padding-top: 6px !important;
    padding: 7px 5px;
    text-align: left;
    font-size: 12px;
    background-color: var(--TableTop-background-color);
    color: var(--TableTop-color);

}

#top-header {
    text-align: center;
    // background: #164e7f;
    // color: white;
    padding: 5px 19px;
}

::ng-deep p-dropdown span.p-dropdown-label {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* Header styling */
#header-style {
    padding: 8px 10px;
    text-align: left;
    font-size: 12px;
}

.toppest-header {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    align-items: center;
    font-size: 16px;
    font-weight: 300;
    color: var(--SectionTitleNav-color);
    background-color: var(--SectionTitleNav-background-color);
    padding: 2px 0;
}


::ng-deep #Edit-Button button {
    background-color: transparent;
    border: none;
    padding: 0px;
    color: var(--TableEditBtn-color);
}



::ng-deep #Delete-Button button {
    background-color: transparent;
    border: none;
    color: var(--TableDeleteBtn-color);
}

#body {
    height: var(--body-height) !important;
    margin-left: var(--body-margin-left) !important;
    padding-left: var(--body-padding-left);
    padding-right: var(--body-padding-right);
}