<p-toast></p-toast>

<div style="padding: 8px; padding-right: 0px;">
    <p-button *ngIf="canAddEmp" (click)="showDialog()" label="Create New Employee" icon="pi pi-save" iconPos="left"
        styleClass=" custom-button"></p-button>
</div>
<form [formGroup]="employeeForm" (ngSubmit)="onSubmit($event)">
    <!-- Show Button -->


    <!-- Employee Master Modal Dialog -->
    <p-dialog header="Employee Master" [(visible)]="visible" [modal]="true"
        [style]="{ width: '80vw', maxWidth: '1200px' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
        [draggable]="true" [resizable]="false">

        <!-- Employee Master Form Content -->
        <div class="employee-master-container">
            <!-- Basic Information Section -->
            <div class="section-container" style="flex: 1;">

                <div class="section-header" style="justify-content: space-between;">
                    <div>
                        <i class="pi pi-file"></i>
                        <span style="margin-left: 5px;">Basic Information</span>
                    </div>
                    <i class="pi" [ngClass]="isBasicInfoCollapsed ? 'pi-chevron-down' : 'pi-chevron-up'"
                        (click)="isBasicInfoCollapsed = !isBasicInfoCollapsed" style="cursor: pointer; float: right;">
                    </i>
                </div>
                <div class="form-grid" *ngIf="!isBasicInfoCollapsed" formGroupName="empDetail">

                    <!-- Left Column (labels and input fields) -->
                    <div class="form-column-left">
                        <div class="form-field">
                            <label>SNO <span class="required">*</span></label>
                            <input type="number" formControlName="sno" />
                        </div>
                        <div class="form-field">
                            <label>EmpCode <span class="required">*</span></label>
                            <input type="number" formControlName="empCode" />
                        </div>
                        <!-- Your input field with click event -->
                        <!-- app.component.html -->
                        <div class="form-field">
                            <label>Name <span class="required">*</span></label>
                            <input type="text" formControlName="empName" />
                        </div>




                        <div class="form-field">
                            <label>Father Name</label>
                            <input type="text" formControlName="empFatherName" />
                        </div>

                        <div class="form-field">
                            <label>Mother Name</label>
                            <input type="text" formControlName="empMotherName" />
                        </div>

                        <div class="form-field">
                            <label>Marital Status</label>
                            <select formControlName="empMartialStatus" id="MartialStatus"
                                (change)="onMaritalStatusChange($event)">
                                <option value="Married">Married</option>
                                <option value="Unmarried">Unmarried</option>
                            </select>
                        </div>

                        <div *ngIf="isMarried" class="form-field">
                            <label>Spouse Name</label>
                            <input type="text" formControlName="empSpouseName" />
                        </div>

                        <div *ngIf="isMarried" class="form-field">
                            <label>Anniversary</label>
                            <input type="date" formControlName="empAnniversaryDate" />
                        </div>

                        <!-- <div class="form-field">
                            <label>Spouse Name</label>
                            <input type="text" formControlName="empSpouseName" />
                        </div> -->
                        <div class="form-field">
                            <label>Mobile No.</label>
                            <input type="number" formControlName="empMobileNo" />
                        </div>
                        <div class="form-field">
                            <label>Email</label>
                            <input type="text" formControlName="empMail" />
                        </div>

                        <!-- <div class="form-field">
                            <label>Anniversary</label>
                            <input type="date" formControlName="empAnniversaryDate" />
                        </div> -->

                        <div class="form-field">
                            <label>Religion</label>
                            <input type="text" formControlName="empReligion" />
                        </div>

                        <div class="form-field">
                            <label>DOB</label>
                            <input type="date" formControlName="empDateOfBirth" />
                        </div>

                        <div class="form-field">
                            <label>Sex</label>
                            <input type="text" formControlName="empSex" />
                        </div>

                        <div class="form-field">
                            <label>Blood Group</label>
                            <input type="text" formControlName="empBloodGroup" />
                        </div>
                    </div>

                    <!-- Right Column (profile picture, nationality, card number) -->
                    <div class="form-column-right">
                        <div class="photo-container">
                            <div class="photo-placeholder">
                                <button class="remove-btn" type="button">&times;</button>
                            </div>
                            <!-- File input for browsing images -->
                            <input type="file" id="imageUpload" (change)="onFileSelected($event)"
                                style="display: none" />
                            <p-button id="Browse" label="Browse" styleClass="p-button-secondary"
                                (click)="triggerFileInput()"></p-button>
                            <!-- Image preview -->
                            <!-- <img *ngIf="imagePreview" [src]="imagePreview" alt="Uploaded Image"
                                style="width: 100px; height: 100px;" /> -->
                        </div>

                        <div class="form-field">
                            <label>Nationality</label>
                            <input type="text" formControlName="empNationlity" />
                        </div>

                        <div class="form-field">
                            <label>RFID Card No</label>
                            <input type="number" formControlName="empCardNo" />
                        </div>
                    </div>
                </div>
            </div>


            <!-- Address Information Section -->
            <div class="section-container">

                <div class="section-header" style="justify-content: space-between;">
                    <div>
                        <i class="pi pi-home"></i>
                        <span style="margin-left: 5px;">Address Information</span>
                    </div>
                    <i class="pi" [ngClass]="isAddInfoCollapsed ? 'pi-chevron-down' : 'pi-chevron-up'"
                        (click)="isAddInfoCollapsed = !isAddInfoCollapsed" style="cursor: pointer; float: right;">
                    </i>
                </div>
                <div class="form-grid" *ngIf="!isAddInfoCollapsed" formGroupName="empAddress">
                    <!-- Left Column (Temporary Address) -->
                    <div class="form-column-left">
                        <h5>Temporary Address</h5>
                        <!-- <div class="address-input-group"> -->

                        <div class="form-field">
                            <label>SNO <span class="required">*</span></label>
                            <input type="number" formControlName="sno" />
                        </div>
                        <div class="form-field">
                            <label>EmpCode <span class="required">*</span></label>
                            <input type="number" formControlName="empCode" />
                        </div>
                        <div class="form-field">
                            <label>Address</label>
                            <textarea id="drop-addfield" type="text" formControlName="empTempAddr" area
                                rows="5"></textarea>
                        </div>



                        <div class="form-field">
                            <label>Country</label>
                            <p-dropdown id="drop-Address" [options]="cateComp.filteredItems()"
                                [(ngModel)]="cateComp.selectedItem" formControlName="empTempCountry"
                                placeholder="Select a {{ cateComp.context.label }}">
                            </p-dropdown>
                            <button pButton type="button" icon="pi pi-times" class="p-button-text p-button-sm"
                                id="StyleBtn" (click)="cateComp.clearSelection()"></button>
                            <button pButton type="button" icon="pi pi-pencil" class="p-button-text p-button-sm"
                                id="StyleBtn"
                                (click)="cateComp.openEditDialog('country', cateComp.selectedItem)"></button>

                        </div>
                        <app-dynamic #cateComp [contextParam]="'country'"></app-dynamic>

                        <div class="form-field">
                            <label>State</label>
                            <p-dropdown id="drop-Address" [options]="stateComp.filteredItems()"
                                [(ngModel)]="stateComp.selectedItem" formControlName="empTempState"
                                placeholder="Select a State">
                            </p-dropdown>
                            <button pButton type="button" icon="pi pi-times" class="p-button-text p-button-sm"
                                id="StyleBtn" (click)="stateComp.clearSelection()"></button>
                            <button pButton type="button" icon="pi pi-pencil" class="p-button-text p-button-sm"
                                id="StyleBtn"
                                (click)="stateComp.openEditDialog('state', stateComp.selectedItem)"></button>

                        </div>
                        <app-dynamic #stateComp [contextParam]="'state'"></app-dynamic>

                        <div class="form-field">
                            <label>City</label>
                            <p-dropdown id="drop-Address" [options]="cityComp.filteredItems()"
                                [(ngModel)]="cityComp.selectedItem" formControlName="empTempCity"
                                placeholder="Select a {{cityComp.context.label }}">
                            </p-dropdown>
                            <button pButton type="button" icon="pi pi-times" class="p-button-text p-button-sm"
                                id="StyleBtn" (click)="cityComp.clearSelection()"></button>
                            <button pButton type="button" icon="pi pi-pencil" class="p-button-text p-button-sm"
                                id="StyleBtn" (click)="cityComp.openEditDialog('city', cityComp.selectedItem)"></button>

                        </div>
                        <app-dynamic #cityComp [contextParam]="'city'"></app-dynamic>



                        <div class="form-field">
                            <label>Pin Code</label>
                            <input type="number" formControlName="empTempPinCode" />
                        </div>
                        <div class="form-field">
                            <label>Phone</label>
                            <input type="number" formControlName="empTempPhoneNo" />
                        </div>

                        <div class="form-field">
                            <label>Longitude</label>
                            <input type="text" formControlName="empTempLongitude" />
                        </div>
                        <div class="form-field">
                            <label>Latitude</label>
                            <input type="text" formControlName="empTempLatitude" />
                        </div>
                    </div>


                    <!-- Right Column (Permanent Address) -->
                    <div class="form-column-right">
                        <h5 style="    display: flex;
    align-items: center;">Permanent Address
                            <p-button id="CopyTemp" label="CopyFromTemp" styleClass="p-button-primary"
                                (click)="copyTempToPerm()"></p-button>
                        </h5>



                        <!-- <div class="address-input-group"> -->
                        <div class="form-field">
                            <label>Address</label>
                            <textarea id="drop-addfield" formControlName="empPermAddr" area rows="5"></textarea>
                        </div>
                        <div class="form-field">
                            <label>Country</label>
                            <p-dropdown id="drop-Address" [options]="contComp.filteredItems()"
                                [(ngModel)]="contComp.selectedItem" formControlName="empPermCountry"
                                placeholder="Select a {{ contComp.context.label }}">
                            </p-dropdown>
                            <button pButton type="button" icon="pi pi-times" class="p-button-text p-button-sm"
                                id="StyleBtn" (click)="contComp.clearSelection()"></button>
                            <button pButton type="button" icon="pi pi-pencil" class="p-button-text p-button-sm"
                                id="StyleBtn"
                                (click)="contComp.openEditDialog('country', contComp.selectedItem)"></button>

                        </div>
                        <app-dynamic #contComp [contextParam]="'country'"></app-dynamic>

                        <div class="form-field">
                            <label>State</label>
                            <p-dropdown id="drop-Address" [options]="permStateComp.filteredItems()"
                                [(ngModel)]="permStateComp.selectedItem" formControlName="empPermState"
                                placeholder="Select a State">
                            </p-dropdown>
                            <button pButton type="button" icon="pi pi-times" class="p-button-text p-button-sm"
                                id="StyleBtn" (click)="permStateComp.clearSelection()"></button>
                            <button pButton type="button" icon="pi pi-pencil" class="p-button-text p-button-sm"
                                id="StyleBtn"
                                (click)="permStateComp.openEditDialog('state', permStateComp.selectedItem)"></button>

                        </div>
                        <app-dynamic #permStateComp [contextParam]="'state'"></app-dynamic>

                        <div class="form-field">
                            <label>City</label>
                            <p-dropdown id="drop-Address" [options]="permCityComp.filteredItems()"
                                [(ngModel)]="permCityComp.selectedItem" formControlName="empPermCity"
                                placeholder="Select a {{permCityComp.context.label }}">
                            </p-dropdown>
                            <button pButton type="button" icon="pi pi-times" class="p-button-text p-button-sm"
                                id="StyleBtn" (click)="permCityComp.clearSelection()"></button>
                            <button pButton type="button" icon="pi pi-pencil" class="p-button-text p-button-sm"
                                id="StyleBtn"
                                (click)="permCityComp.openEditDialog('city', permCityComp.selectedItem)"></button>

                        </div>
                        <app-dynamic #permCityComp [contextParam]="'city'"></app-dynamic>



                        <div class="form-field">
                            <label>Pin Code</label>
                            <input type="number" formControlName="empPermPinCode" />
                        </div>
                        <div class="form-field">
                            <label>Phone</label>
                            <input type="number" formControlName="empPermPhoneNo" />
                        </div>

                        <div class="form-field">
                            <label>Longitude</label>
                            <input type="text" formControlName="empPermLongitude" />
                        </div>
                        <div class="form-field">
                            <label>Latitude</label>
                            <input type="text" formControlName="empPermLatitude" />
                        </div>
                    </div>
                </div>
            </div>


            <div class="section-container">
                <div class="section-header" style="justify-content: space-between;">
                    <div>
                        <i class="pi pi-contact"></i>
                        <span style="margin-left: 5px;">Emergency Contact</span>
                    </div>
                    <i class="pi" [ngClass]="isCollapsed ? 'pi-chevron-down' : 'pi-chevron-up'"
                        (click)="isCollapsed = !isCollapsed" style="cursor: pointer; float: right;">
                    </i>
                </div>

                <div class="form-grid" *ngIf="!isCollapsed" formGroupName="empDetail">
                    <div class="form-column-left">
                        <div class="form-field">
                            <label>Name <span class="required">*</span></label>
                            <input type="text" formControlName="empEmergencyName" />
                        </div>
                        <div class="form-field">
                            <label>Relation</label>
                            <input type="text" formControlName="empEmergencyRelation" />
                        </div>
                        <!-- <div class="form-field">
                            <label>Mobile No.</label>
                            <input type="number" formControlName="empEmergencyPhoneNo" />
                        </div> -->
                    </div>

                    <div class="form-column-right">
                        <div class="form-field">
                            <label>Mobile No.</label>
                            <input type="number" formControlName="empEmergencyPhoneNo" />
                        </div>

                        <div class="form-field">
                            <label>Email</label>
                            <input type="text" formControlName="empEmergencyEmail" />
                        </div>
                        <div class="form-field">
                            <label>Login</label>
                            <input type="text" formControlName="empLogin" />
                        </div>




                    </div>
                </div>


            </div>


            <div class="section-container">

                <div class="section-header" style="justify-content: space-between;">
                    <div>
                        <i class="pi pi-home"></i>
                        <span style="margin-left: 5px;">Official Information</span>
                    </div>
                    <i class="pi" [ngClass]="isOffInfoCollapsed ? 'pi-chevron-down' : 'pi-chevron-up'"
                        (click)="isOffInfoCollapsed = !isOffInfoCollapsed" style="cursor: pointer; float: right;">
                    </i>
                </div>
                <div class="form-grid" *ngIf="!isOffInfoCollapsed" formGroupName="empOfficialInformation">
                    <!-- Left Column (Temporary Address) -->
                    <div class="form-column-left">
                        <div class="form-field">
                            <label>SNO</label>
                            <input type="number" formControlName="sno" />
                        </div>
                        <div class="form-field">
                            <label>EmpCode</label>
                            <input type="number" formControlName="empCode" />
                        </div>

                        <div class="form-field">
                            <label>City Type <span class="required">*</span></label>
                            <input type="text" formControlName="empCityType" />
                        </div>
                        <div class="form-field">
                            <label>Joining Date <span class="required">*</span></label>
                            <input type="date" formControlName="empJoiningDate" />
                        </div>

                        <div class="form-field">
                            <label>Confirmation Date</label>
                            <input type="date" formControlName="empConfirmationDate" />
                        </div>

                        <div class="form-field">
                            <label>Probabation Months</label>
                            <input type="number" formControlName="empProbationMonth" />
                        </div>

                        <div class="form-field">
                            <label>Notice Days</label>
                            <input type="number" formControlName="empNoitceDays" />
                        </div>

                        <div class="form-field">
                            <label>Salary/Wages</label>
                            <input type="text" formControlName="empSalaryWages" />
                        </div>






                        <div class="form-field">
                            <label>PAN</label>
                            <input type="text" formControlName="empPan" />
                        </div>
                    </div>


                    <!-- Right Column (Permanent Address) -->
                    <div class="form-column-right">





                        <div class="form-field">
                            <label>UAN No.</label>
                            <input type="number" formControlName="empUanno" />
                        </div>

                        <div class="form-field">
                            <label>Voter Card No.</label>
                            <input type="text" formControlName="empVoterCardNo" />
                        </div>



                        <div class="form-field">
                            <label>Adhaar Card No.</label>
                            <input type="number" formControlName="empAadharCardNo" />
                        </div>

                        <div class="form-field">
                            <label>Passport No.</label>
                            <input type="text" formControlName="empPassportNo" />
                        </div>
                        <div class="form-field">
                            <label>Passport Valid Upto</label>
                            <input type="date" formControlName="empPassportValidDate" />
                        </div>

                        <div class="form-field">
                            <label>DI No.</label>
                            <input type="text" formControlName="empDlno" />
                        </div>

                        <div class="form-field">
                            <label>DL Valid Upto</label>
                            <input type="date" formControlName="empDlvalidDate" />
                        </div>
                    </div>
                </div>


            </div>
            <div class="section-container">

                <div class="section-header" style="justify-content: space-between;">
                    <div>
                        <i class="pi pi-file"></i>
                        <span style="margin-left: 5px;">ESI And PF</span>
                    </div>
                    <i class="pi" [ngClass]="isEsiInfoCollapsed ? 'pi-chevron-down' : 'pi-chevron-up'"
                        (click)="isEsiInfoCollapsed = !isEsiInfoCollapsed" style="cursor: pointer; float: right;">
                    </i>
                </div>
                <div class="form-grid" *ngIf="!isEsiInfoCollapsed">
                    <!-- Left Column (Temporary Address) -->
                    <div class="form-column-left">


                        <div class="form-field">
                            <label>ESI Application</label>
                            <p-checkbox [(ngModel)]="esiApplication" [ngModelOptions]="{standalone: true}"
                                [binary]="true"></p-checkbox>
                        </div>

                        <div class="form-field">
                            <label>PF Application</label>
                            <p-checkbox [(ngModel)]="pfApplication" [ngModelOptions]="{standalone: true}"
                                [binary]="true"></p-checkbox>
                        </div>

                        <div class="form-field">
                            <label>Prof. Tax Applicable</label>
                            <p-checkbox [(ngModel)]="profTaxApplicable" [ngModelOptions]="{standalone: true}"
                                [binary]="true"></p-checkbox>
                        </div>

                        <div class="form-field">
                            <label>LWF Applicable</label>
                            <p-checkbox [(ngModel)]="lwfApplicable" [ngModelOptions]="{standalone: true}"
                                [binary]="true"></p-checkbox>
                        </div>

                        <div class="form-field">
                            <label>Overtime Applicable</label>
                            <p-checkbox [(ngModel)]="overtimeApplicable" [ngModelOptions]="{standalone: true}"
                                [binary]="true"></p-checkbox>
                        </div>



                    </div>
                </div>


            </div>
            <div class="section-container">

                <div class="section-header" style="justify-content: space-between;">
                    <div>
                        <i class="pi pi-file"></i>
                        <span style="margin-left: 5px;">Bank Details</span>
                    </div>
                    <i class="pi" [ngClass]="isBankInfoCollapsed ? 'pi-chevron-down' : 'pi-chevron-up'"
                        (click)="isBankInfoCollapsed = !isBankInfoCollapsed" style="cursor: pointer; float: right;">
                    </i>
                </div>

                <div class="form-grid" *ngIf="!isBankInfoCollapsed" formGroupName="empBankDetail">
                    <!-- Left Column (labels and input fields) -->
                    <div class="form-column-left">
                        <div class="form-field">
                            <label>SNO</label>
                            <input type="number" formControlName="sno" />
                        </div>
                        <div class="form-field">
                            <label>EmpCode</label>
                            <input type="number" formControlName="empCode" />
                        </div>
                        <div class="form-field">
                            <label>Bank <span class="required">*</span></label>
                            <p-dropdown id="drop-Address" [options]="bankComp.filteredItems()"
                                [(ngModel)]="bankComp.selectedItem" formControlName="empBankCode"
                                placeholder="Select a {{bankComp.context.label }}">
                            </p-dropdown>

                            <button pButton type="button" icon="pi pi-times" class="p-button-text p-button-sm"
                                id="StyleBtn" (click)="bankComp.clearSelection()"></button>
                            <button pButton type="button" icon="pi pi-pencil" class="p-button-text p-button-sm"
                                id="StyleBtn" (click)="bankComp.openEditDialog('bank',bankComp.selectedItem)"></button>
                        </div>
                        <app-dynamic #bankComp [contextParam]="'bank'" (citySelected)="onCitySelected($event)">
                        </app-dynamic>



                        <div class="form-field">
                            <label>Bank Name<span class="required">*</span></label>
                            <input type="text" formControlName="empBankName" />
                        </div>
                        <div class="form-field">
                            <label>Branch</label>
                            <input type="text" formControlName="empBranch" />
                        </div>

                        <!-- <div class="form-field">
                            <label>Bank Account No.</label>
                            <input type="number" formControlName="empBankAccount" />
                        </div> -->

                    </div>

                    <!-- Right Column (Permanent Address) -->
                    <div class="form-column-right">






                        <div class="form-field">
                            <label>Bank Account No.</label>
                            <input type="number" formControlName="empBankAccount" />
                        </div>

                        <div class="form-field">
                            <label>Swift/IFSC Code</label>
                            <input type="text" formControlName="empIfsccode" />
                        </div>
                        <div class="form-field">
                            <label>A/C Holder Name</label>
                            <input type="text" formControlName="empAccountHolderName" />
                        </div>

                    </div>

                </div>

            </div>

            <div class="section-container">
                <div class="section-header">
                    <i class="pi pi-file"></i>
                    <span>Leave Detail</span>
                    <i class="pi" [ngClass]="isLeaveInfoCollapsed ? 'pi-chevron-down' : 'pi-chevron-up'"
                        (click)="isLeaveInfoCollapsed = !isLeaveInfoCollapsed"
                        style="cursor: pointer; float: right;"></i>
                </div>

                <div class="form-grid" *ngIf="!isLeaveInfoCollapsed" formArrayName="empAllotedLeaves">
                    <div *ngFor="let leaveCtrl of empAllotedLeaves.controls; let i = index" [formGroupName]="i">
                        <div class="form-field">
                            <!-- <label>SNO</label> -->
                            <input type="hidden" formControlName="sno" />
                        </div>
                        <div class="form-field">
                            <!-- <label>EmpCode</label> -->
                            <input type="hidden" formControlName="empCode" />
                        </div>
                        <div class="form-column-left">
                            <div class="form-field">
                                <label>{{ leaveTypes[i]?.leaveType }}</label>

                                <!-- Checkbox for Leave Active Status -->
                                <input type="checkbox" formControlName="isPermitted"
                                    [checked]="isLeavePermitted(leaveTypes[i]?.sno)"
                                    [disabled]="!isLeavePermitted(leaveTypes[i]?.sno)" />

                                <!-- Date Picker for Effective Date -->
                                <input type="date" formControlName="empLeavesEffectiveDate"
                                    [disabled]="!isLeavePermitted(leaveTypes[i]?.sno)" />

                                <!-- Hidden field for leave code -->
                                <input type="hidden" formControlName="empLeavesCode" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>



            <div class="section-container">
                <!-- Qualification Section -->
                <div class="section-header" style="justify-content: space-between;">
                    <div>
                        <i class="pi pi-file"></i>
                        <span style="margin-left: 5px;">Emp Attachment</span>
                    </div>
                    <i class="pi" [ngClass]="isQualificationCollapsed ? 'pi-chevron-down' : 'pi-chevron-up'"
                        (click)="isQualificationCollapsed = !isQualificationCollapsed"
                        style="cursor: pointer; float: right;">
                    </i>
                </div>

                <div *ngIf="!isQualificationCollapsed" formGroupName="empQualificationExperience">
                    <p-table [value]="qualifications.controls" [paginator]="true" [rows]="5"
                        styleClass="p-datatable-striped increased-row-size">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>S.No</th>
                                <th>Emp Code</th>
                                <th>Degree</th>
                                <th>Passing Year</th>
                                <th>Institute/Board/University</th>
                                <th>Score</th>
                                <th>Action</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-qualification>
                            <tr [formGroup]="qualification">
                                <td><input type="number" formControlName="sno" /></td>
                                <td><input type="number" formControlName="empCode" /></td>
                                <td><input type="text" formControlName="empQualification" placeholder="Degree" /></td>
                                <td><input type="number" formControlName="empPassingYear" placeholder="Passing Year" />
                                </td>
                                <td><input type="text" formControlName="empInstitute"
                                        placeholder="Institute/Board/University" /></td>
                                <td><input type="text" formControlName="empScore" placeholder="Score" /></td>
                                <td>

                                    <button pButton type="button" icon="pi pi-trash" id="Att-Delete-Button"
                                        (click)="deleteQualificationRow(qualification)"></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <div class="add-lines-button">
                        <button pButton type="button" icon="pi pi-plus" label="Add Qualification"
                            (click)="addQualificationRow()"></button>
                    </div>
                </div>

            </div>

            <div class="section-container">
                <!-- Experience Section -->
                <div class="section-header" style="justify-content: space-between;">
                    <div>
                        <i class="pi pi-file"></i>
                        <span style="margin-left: 5px;">Experience</span>
                    </div>
                    <i class="pi" [ngClass]="isExperienceCollapsed ? 'pi-chevron-down' : 'pi-chevron-up'"
                        (click)="isExperienceCollapsed = !isExperienceCollapsed" style="cursor: pointer; float: right;">
                    </i>
                </div>

                <div *ngIf="!isExperienceCollapsed" formGroupName="empQualificationExperience">
                    <p-table [value]="experiences.controls" [paginator]="true" [rows]="5"
                        styleClass="p-datatable-striped increased-row-size">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Company Name</th>
                                <th>Designation</th>
                                <th>Place</th>
                                <th>From Date</th>
                                <th>To Date</th>
                                <th>Year</th>
                                <th>Month</th>
                                <th>Reason For Leaving</th>
                                <th>Action</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-experience>
                            <tr [formGroup]="experience">
                                <td><input type="text" formControlName="empExpCompany" placeholder="Company Name" />
                                </td>
                                <td><input type="text" formControlName="empExpDesignation" placeholder="Designation" />
                                </td>
                                <td><input type="text" formControlName="empExpPlace" placeholder="Place" /></td>
                                <td><input type="date" formControlName="empExpFromDate" placeholder="From Date" /></td>
                                <td><input type="date" formControlName="empExpToDate" placeholder="To Date" /></td>
                                <td><input type="number" formControlName="empExpYear" placeholder="Year" /></td>
                                <td><input type="number" formControlName="empExpMonth" placeholder="Month" /></td>
                                <td><input type="text" formControlName="empExpReasonLeaving"
                                        placeholder="Reason For Leaving" /></td>
                                <td>

                                    <button pButton type="button" icon="pi pi-trash" id="Exp-Delete-Button"
                                        (click)="deleteExperienceRow(experience)"></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <div class="add-lines-button">
                        <button pButton type="button" icon="pi pi-plus" label="Add Experience"
                            (click)="addExperienceRow()"></button>
                    </div>
                </div>

            </div>


            <div class="section-container">

                <div class="section-header" style="justify-content: space-between;">
                    <div>
                        <i class="pi pi-file"></i>
                        <span style="margin-left: 5px;">Posting Attachment</span>
                    </div>
                    <i class="pi" [ngClass]="isPostInfoCollapsed ? 'pi-chevron-down' : 'pi-chevron-up'"
                        (click)="isPostInfoCollapsed = !isPostInfoCollapsed" style="cursor: pointer; float: right;">
                    </i>
                </div>

                <div class="form-grid" *ngIf="!isPostInfoCollapsed" formGroupName="empPostingAttachment">
                    <!-- Left Column (labels and input fields) -->
                    <div class="form-column-left">

                        <div class="form-field">
                            <label>SNO</label>
                            <input type="number" formControlName="sno" />
                        </div>
                        <div class="form-field">
                            <label>EmpCode</label>
                            <input type="number" formControlName="empCode" />
                        </div>
                        <div class="form-field">
                            <label>Effective From<span class="required">*</span></label>
                            <input type="date" formControlName="empEffectiveDate" />
                        </div>
                        <div class="form-field">
                            <label>Department<span class="required">*</span></label>
                            <p-dropdown id="drop-style" [options]="deptComp.filteredItems()"
                                [(ngModel)]="deptComp.selectedItem" formControlName="empDepartmentCode"
                                placeholder="Select a {{deptComp.context.label }}">
                            </p-dropdown>
                            <button pButton type="button" icon="pi pi-times" class="p-button-text p-button-sm"
                                id="StyleBtn" (click)="deptComp.clearSelection()"></button>
                            <button pButton type="button" icon="pi pi-pencil" class="p-button-text p-button-sm"
                                id="StyleBtn"
                                (click)="deptComp.openEditDialog('department',deptComp.selectedItem)"></button>

                        </div>
                        <app-dynamic #deptComp [contextParam]="'department'"
                            (citySelected)="onCitySelected($event)"></app-dynamic>



                        <div class="form-field">
                            <label>Late IN</label>
                            <p-dropdown id="drop-style" [options]="lateComp.filteredItems()"
                                [(ngModel)]="lateComp.selectedItem" [ngModelOptions]="{standalone: true}"
                                placeholder="Select a {{lateComp.context.label }}">
                            </p-dropdown>

                            <button pButton type="button" icon="pi pi-times" class="p-button-text p-button-sm"
                                id="StyleBtn" (click)="lateComp.clearSelection()"></button>
                            <button pButton type="button" icon="pi pi-pencil" class="p-button-text p-button-sm"
                                id="StyleBtn"
                                (click)="lateComponent.openDialog('lateIn',lateComp.selectedItem)"></button>

                        </div>
                        <app-lateandout #lateComponent></app-lateandout>
                        <app-dynamic #lateComp [contextParam]="'lateIn'"
                            (citySelected)="onCitySelected($event)"></app-dynamic>
                        <div class="form-field">
                            <label>Report to</label>
                            <p-dropdown id="ReportTo" [options]="reportComp.filteredItems()"
                                [(ngModel)]="reportComp.selectedItem"
                                placeholder="Select a {{reportComp.context.label }}" formControlName="empReportingTo">
                            </p-dropdown>
                            <button pButton type="button" icon="pi pi-times" class="p-button-text p-button-sm"
                                id="StyleBtn" (click)="reportComp.clearSelection()"></button>


                        </div>
                        <app-dynamic #reportComp [contextParam]="'reportingTo'"
                            (citySelected)="onCitySelected($event)"></app-dynamic>

                    </div>

                    <!-- Right Column (Permanent Address) -->
                    <div class="form-column-right">








                        <div class="form-field">
                            <label>Designation</label>
                            <p-dropdown id="drop-style" [options]="desiComp.filteredItems()"
                                [(ngModel)]="desiComp.selectedItem" formControlName="empDesignationCode"
                                placeholder="Select a {{desiComp.context.label }}">
                            </p-dropdown>
                            <button pButton type="button" icon="pi pi-times" class="p-button-text p-button-sm"
                                id="StyleBtn" (click)="desiComp.clearSelection()"></button>
                            <button pButton type="button" icon="pi pi-pencil" class="p-button-text p-button-sm"
                                id="StyleBtn"
                                (click)="desiComp.openEditDialog('designation',desiComp.selectedItem)"></button>

                        </div>
                        <app-dynamic #desiComp [contextParam]="'designation'"
                            (citySelected)="onCitySelected($event)"></app-dynamic>


                        <div class="form-field">
                            <label>Employee Shift</label>
                            <p-dropdown id="drop-style" [options]="shiftComp.filteredItems()"
                                [(ngModel)]="shiftComp.selectedItem" formControlName="empShift"
                                placeholder="Select a {{shiftComp.context.label }}">
                            </p-dropdown>
                            <button pButton type="button" icon="pi pi-times" class="p-button-text p-button-sm"
                                id="StyleBtn" (click)="shiftComp.clearSelection()"></button>
                            <button pButton type="button" icon="pi pi-pencil" class="p-button-text p-button-sm"
                                id="StyleBtn"
                                (click)="shiftComp.openEditDialog('shift', shiftComp.selectedItem)"></button>

                        </div>
                        <app-dynamic #shiftComp [contextParam]="'shift'"
                            (citySelected)="onCitySelected($event)"></app-dynamic>
                        <div class="form-field">
                            <label>Early Out</label>
                            <p-dropdown id="drop-style" [options]="outComp.filteredItems()"
                                [(ngModel)]="outComp.selectedItem" [ngModelOptions]="{standalone: true}"
                                placeholder="Select a {{outComp.context.label }}">
                            </p-dropdown>
                            <button pButton type="button" icon="pi pi-times" class="p-button-text p-button-sm"
                                id="StyleBtn" (click)="outComp.clearSelection()"></button>

                            <button pButton type="button" icon="pi pi-pencil" class="p-button-text p-button-sm"
                                id="StyleBtn"
                                (click)="outComponent.openDialog('earlyOut',outComp.selectedItem)"></button>

                        </div>
                        <app-lateandout #outComponent></app-lateandout>
                        <app-dynamic #outComp [contextParam]="'out'"
                            (citySelected)="onCitySelected($event)"></app-dynamic>


                        <div class="form-field">
                            <label>Overtime</label>
                            <p-dropdown id="overtime-style" id="drop-height" [options]="overtime.filteredItems()"
                                [(ngModel)]="overtime.selectedItem" formControlName="empOvertimeId"
                                placeholder="Select Overtime">
                            </p-dropdown>
                            <!-- <button pButton type="button" icon="pi pi-times" class="p-button-text p-button-sm" id="StyleBtn"
                                (click)="overtime.clearSelection()"></button> -->
                            <button pButton type="button" icon="pi pi-times" class="p-button-text p-button-sm"
                                id="StyleBtn" (click)="overtime.clearSelection()">
                                <!-- </div> -->


                            </button>
                            <button pButton type="button" icon="pi pi-pencil" class="p-button-text p-button-sm"
                                id="StyleBtn"
                                (click)="overtime.OvertimeDialog('overtime', overtime.selectedItem)"></button>


                        </div>
                        <!-- <app-overtime-modal #outComponent></> -->
                        <app-overtime-modal #overtime></app-overtime-modal>
                    </div>


                </div>
                <!-- <div class="section-container">
                    <div class="section-header" style="justify-content: space-between;">
                        <div>
                            <i class="pi pi-file"></i>
                            <span style="margin-left: 5px;">Attachments</span>
                        </div>
                        <i class="pi" [ngClass]="isPostInfoCollapsed ? 'pi-chevron-down' : 'pi-chevron-up'"
                            (click)="isPostInfoCollapsed = !isPostInfoCollapsed" style="cursor: pointer; float: right;">
                        </i>
                    </div>

                    <div *ngIf="!isPostInfoCollapsed">
                        <div class="add-lines-button" style="display: flex; justify-content: end; padding: 10px 2px;">
                            <button pButton type="button" icon="pi pi-plus" label="Add Lines"
                                (click)="addAttachmentRow()"></button>
                        </div>
                        <p-table [value]="empAttachment.controls" [paginator]="true" [rows]="5"
                            styleClass="p-datatable-striped">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>SNO</th>
                                    <th>Emp Code</th>
                                    <th>File Name</th>
                                    <th>File Upload</th>
                                    <th>File Preview</th>
                                    <th>Actions</th>
                                </tr>
                            </ng-template>

                            <ng-template pTemplate="body" let-file let-i="rowIndex">
                                <tr [formGroup]="file">
                                    <td><input type="number" formControlName="sno" placeholder="Enter SNo." />
                                    </td>
                                    <td><input type="number" formControlName="empCode" placeholder="Enter EmpCode" />
                                    </td>
                                    <td><input type="text" formControlName="empAttachedDocumentName"
                                            placeholder="Enter file name" /></td>
                                    <td>
                                        <p-fileUpload *ngIf="!file.get('uploaded').value" [name]="'file'"
                                            [mode]="'basic'" [auto]="true" [customUpload]="true"
                                            (uploadHandler)="onFileUpload($event, file)">
                                        </p-fileUpload>
                                        <span *ngIf="file.get('uploaded').value" class="pi pi-check"
                                            style="color: green;"></span>
                                    </td>
                                    <td>
                                        <button *ngIf="file.get('uploaded').value" type="button"
                                            (click)="previewFile(file)" class="p-button p-button-text">
                                            <i class="pi pi-eye"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <button pButton type="button" icon="pi pi-trash" (click)="deleteFileRow(i)"
                                            style="color: red;"></button>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>



                    </div>
                </div>
            </div> -->
                <!-- <div class="form-grid" *ngIf="!isImageInfoCollapsed">
               
                    <div class="form-column-left">
                        <div class="form-field">
                         
                            <input type="file" (change)="onFileSelected($event)" formControlName="empImageFile" />
                        </div>
                    </div>



                </div> -->


            </div>
            <!-- Action Buttons -->
            <div class="action-buttons">
                <p-button type="submit" id="SubmitBtn" label="Save" icon="pi pi-save" [disabled]="isSubmitting"
                    styleClass="p-button-primary"></p-button>
                <p-button (click)="hideDialog()" id="ExitBtn" label="Exit" icon="pi pi-times"
                    styleClass="p-button-secondary"></p-button>
            </div>
        </div>
        <!-- <button type="submit" [disabled]="isSubmitting">Submit</button> -->

    </p-dialog>
</form>