<div class="landing-page">



    <header class="navbar">
        <div class="logo">
            <a href="/">
                <img src="http://www.edsindia.in/images/logo.png" style="width: 35px;transform: rotate(-1deg);"
                    alt="Logo">
            </a>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="#">Modules</a>
                    <ul>
                        <li><a href="#">Sales</a></li>
                        <li><a href="#">Purchases</a></li>
                        <li><a href="#">Finance</a></li>
                        <li><a href="#">Inventory</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Features</a>
                    <ul>
                        <li><a href="#">GST Compliance</a></li>
                        <li><a href="#">Mobile App</a></li>
                        <li><a href="#">Desktop App</a></li>
                    </ul>
                </li>
                <li><a>Pricing</a></li>
                <li><a href="#">Partners</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Support</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </nav>


        <div class="nav">
            <div class="nav-container">
                <!-- Sign In Button -->
                <div class="nav-item nav-signin">
                    <div class="dropdown">
                        <div class="dropdown-toggle" data-toggle="dropdown">
                            <a href="#" target="_blank" routerLink="/login" style="color: white;">
                                <i class="fa fa-sign-in" target="_blank" (click)="onSignIn()"></i>
                                Sign in
                            </a>
                            <span class="caret"></span>
                        </div>
                    </div>
                </div>
                <!-- Sign Up Button -->
                <div class="nav-item nav-signup">
                    <a href="#" target="_blank" routerLink="/organisation">
                        <i class="fa fa-user-plus" (click)="onSignUp()"></i> Sign up
                    </a>
                </div>
            </div>
        </div>

    </header>


    <p-carousel [value]="carouselImages" [numVisible]="1" [numScroll]="1" [circular]="true" [autoplayInterval]="3000"
        styleClass="custom-carousel">
        <ng-template pTemplate="item" let-image>
            <img [src]="image" alt="Carousel Image"
                style="width: 100%; object-fit: contain; height: 50%; object-position: center;" />
        </ng-template>
    </p-carousel>

    <!-- Landing Content -->
    <div class="landing-content">
        <h1>Welcome to Our ERP System</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum.
        </p>

        <div class="feature-section">
            <div class="feature-card" *ngFor="let feature of features">
                <h3>{{ feature.title }}</h3>
                <p>{{ feature.description }}</p>
            </div>
        </div>
    </div>

    <section class="pricing section" style="padding-bottom: 0; padding-top: 0;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div style="width:100%; float:left; border: #e5e5e5 1px solid; margin-bottom: 30px;">
                        <!-- Header Section -->
                        <div class="header-grid"
                            style="display: grid; grid-template-columns: repeat(5, 1fr); width: 58%; margin: auto; background-color: #083b67;">
                            <div class="header-item" style="text-align: center;">
                                <img src="https://alignbooks.com/assets/images/svg/price-1.svg"
                                    style="width: 50%; margin-top: 5px;">
                            </div>

                            <div class="header-item" style="text-align: center;">
                                <img src="https://alignbooks.com/assets/images/svg/price-1.svg"
                                    style="width: 50%; margin-top: 5px;">
                                <div class="price_name" style="color: white; padding: 5px 0;">Basic</div>
                                <div class="price_name" style="color: white;"><span style="font-weight: 700;"
                                        id="abBasicPrice">₹
                                        2500</span>*<br /></div>
                                <div class="desktop" style="color: white; font-size: 10px;">Per Year</div>
                            </div>

                            <!-- Premium Plan -->
                            <div class="header-item" style="text-align: center;">
                                <img src="https://alignbooks.com/assets/images/svg/price-2.svg"
                                    style="width: 50%; margin-top: 5px;">
                                <div class="price_name" style="color: white; padding: 5px 0;">Premium</div>
                                <div class="price_name" style="color: white;"><span style="font-weight: 700;"
                                        id="abPremiumPrice">₹
                                        6000</span>*<br /></div>
                                <div class="desktop" style="color: white; font-size: 10px;">Per Year</div>
                            </div>

                            <!-- Ultima Plan -->
                            <div class="header-item" style="text-align: center;">
                                <img src="https://alignbooks.com/assets/images/svg/price-3.svg"
                                    style="width: 50%; margin-top: 5px;">
                                <div class="price_name" style="color: white; padding: 5px 0;">Ultima</div>
                                <div class="price_name" style="color: white;"><span style="font-weight: 700;"
                                        id="abUltimaPrice">₹
                                        9000</span>*<br /></div>
                                <div class="desktop" style="color: white; font-size: 10px;">Per Year</div>
                            </div>

                            <!-- ERP Plan -->
                            <div class="header-item" style="text-align: center;">
                                <img src="https://alignbooks.com/assets/images/svg/price-4.svg"
                                    style="width: 50%; margin-top: 5px;">
                                <div class="price_name" style="color: white; padding: 5px 0;">ERP</div>
                                <div class="price_name" style="color: white;"><span style="font-weight: 700;"
                                        id="abERPPrice">₹
                                        30000</span>*<br /></div>
                                <div class="desktop" style="color: white; font-size: 10px;">Per Year</div>
                            </div>
                        </div>

                        <div class="accordion-container">
                            <span>Attendance Management</span>
                            <!-- Down/Up Arrow Button -->
                            <button class="toggle-button" (click)="toggleAccordion()">
                                <span class="accordion-icon">{{ isAccordionOpen ? '▲' : '▼' }}</span>
                            </button>
                        </div>


                        <div class="accordion-content" [style.display]="isAccordionOpen ? 'block' : 'none'"
                            style="width: 58%; margin: auto; border: 1px solid black; text-align: center;">
                            <!-- Dynamic Header -->
                            <div style="display: flex; border-bottom: 1px solid black;">
                                <div *ngFor="let subscription of data"
                                    style="flex: 1; border-right: 1px solid black; padding: 5px;">
                                    {{ subscription.subscriptionName }}
                                </div>
                            </div>

                            <!-- Dynamic Rows -->
                            <div *ngFor="let permission of permissions"
                                style="display: flex; border-bottom: 1px solid black;">
                                <div style="flex: 1; border-right: 1px solid black; padding: 5px;">
                                    {{ permission.name }}
                                </div>
                                <div style="flex: 1; border-right: 1px solid black; padding: 5px;">
                                    {{ permission.description }}
                                </div>
                                <div style="flex: 1; padding: 5px;">
                                    <input type="checkbox" [checked]="permission.activeStatus"
                                        (change)="onPermissionChange(permission)" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Footer -->
    <footer class="footer">
        <div class="footer-content">
            <div class="footer-section">
                <h4>Contact Us</h4>
                <p>Phone: +123456789</p>
                <p>Email: support.com</p>
            </div>

            <div class="footer-section">
                <h4>Quick Links</h4>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>

            <div class="footer-section">
                <h4>Follow Us</h4>
                <div class="social-icons">
                    <i class="pi pi-facebook"></i>
                    <i class="pi pi-twitter"></i>
                    <i class="pi pi-linkedin"></i>
                    <i class="pi pi-instagram"></i>
                </div>
            </div>
        </div>
    </footer>
</div>