<div *ngIf="canViewLeaveTable">
    <p-confirmDialog></p-confirmDialog>
    <p-toast></p-toast>

    <div class="toppest-header">
        <div>Leave Approval</div>
        <p-button icon="pi pi-refresh"
            [style]="{ width: '29px', height: '29px', 'border-radius': '29px', 'align-item':'center', 'display':'flex' }"
            id="refres" styleClass="p-button-secondary">
        </p-button>
    </div>
    <!-- <div>Leave Table</div> -->
    <div class="card" id="body">
        <!-- <div class="table-header">
            <h2>Employee Leave Requests</h2> 
        </div> -->
        <p-table #dt [value]="employees" [(selection)]="selectedCustomers" dataKey="id" [rowHover]="true" [rows]="10"
            [showCurrentPageReport]="true" [resizableColumns]="true" columnResizeMode="expand"
            styleClass="p-datatable-gridlines" [tableStyle]="{'min-width': '50rem'}" [rowsPerPageOptions]="[10, 25, 50]"
            [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [filterDelay]="0" [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']">
            <ng-template pTemplate="caption">
                <div style="padding: 2px 16px; padding-top: 8px;">
                    <div class="flex justify-content-between" style="align-items: center;margin-bottom: 5px; ">
                        <p-button [outlined]="true" icon="pi pi-filter-slash" label="Clear" (onClick)="clear(dt)" />
                        <p-iconField iconPosition="left">
                            <p-inputIcon>
                                <!-- <i class="pi pi-search"></i> -->
                            </p-inputIcon>
                            <input pInputText type="text" [(ngModel)]="searchValue" (input)="applyGlobalFilter($event)"
                                placeholder="Search" style="padding: 2px;" />
                        </p-iconField>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <!-- <th style="width: 4rem;  padding: 8px 10px;">
                        <p-tableHeaderCheckbox />
                    </th> -->
                    <th id="head" pResizableColumn pSortableColumn="country.name" id="header-style"
                        style="width: 0%; text-align: center;">Sno</th>
                    <th id="head" pResizableColumn pSortableColumn="country.name" id="header-style"
                        style="width: 5%; text-align: center;">ID</th>
                    <th id="head" pResizableColumn pSortableColumn="representative.name" id="header-style">Name</th>
                    <th id="head" pResizableColumn pSortableColumn="name" id="header-style">Apply Date</th>
                    <th id="head" pResizableColumn pSortableColumn="name" id="header-style">From Date</th>
                    <th id="head" pResizableColumn pSortableColumn="date" id="header-style">To Date</th>
                    <th id="head" pResizableColumn pSortableColumn="balance" id="header-style"
                        style="width: 12%; text-align: center;">Actions</th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-employee let-i="rowIndex">
                <tr class="p-selectable-row">
                    <!-- <td style="padding:10px 6px;">
                        <p-tableCheckbox [value]="employees" />
                    </td> -->
                    <!-- <td style="padding:10px 6px;">
                        {{ employee.sno }}
                    </td> -->
                    <td id="t-body" style="padding: 10px 9px;">{{ dt.first + i + 1 }}</td>
                    <td id="t-body" style="padding:10px 6px;">
                        {{ employee.empCode }}
                    </td>
                    <td id="t-body" style="padding:10px 6px;">
                        {{ employee.empName }}
                    </td>
                    <td id="t-body" style="padding:10px 6px;">
                        {{ employee.leaveApplyDate }}
                    </td>
                    <td id="t-body" style="padding:10px 6px;">
                        {{ employee.fromDate }}
                    </td>
                    <td id="t-body" style="padding:10px 6px;">
                        {{ employee.toDate }}
                    </td>
                    <td id="t-body" style="padding:10px 6px; text-align: center;">
                        <!-- Display Leave Status with condition for approval or rejection -->
                        <span
                            *ngIf="employee.leaveStatus !== 'Approved' && employee.leaveStatus !== 'Rejected'; else showStatus">
                            <app-leave-view #edit></app-leave-view>
                            <button pButton type="button" icon="pi pi-eye" class="p-button-text p-button-sm"
                                (click)="edit.openModal(employee.leaveRequestCode)">
                            </button>
                        </span>

                        <!-- Display Leave Status once approved or rejected -->
                        <ng-template #showStatus>
                            <span>{{ employee.leaveStatus }}</span>
                        </ng-template>
                    </td>



                </tr>
            </ng-template>
        </p-table>
    </div>
</div>