:host ::ng-deep {
    .p-progressbar {
        height: .5rem;
        background-color: #D8DADC;

        .p-progressbar-value {
            background-color: #607D8B;
        }
    }
}

html {
    font-size: 14px;
}

body {
    font-family: var(--font-family);
    font-weight: normal;
    background: var(--surface-ground);
    color: var(--text-color);
    padding: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.card {
    background: var(--surface-card);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

/* Flex and alignment helper classes */
.flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.p-element .p-paginator-rpp-options {
    display: flex;
    align-items: center;
}

::ng-deep p-dropdown span.p-dropdown-label {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

// td{
//     text-align: center;
// }

// tr{
//     text-align: center;
// }
// .ml-auto {
//     margin-left: auto;
// }

/* Decrease font size and add background color to the header */


// .p-datatable thead th {
//     background-color: #164e7f;
//     color: white;
//     font-weight: 200;
//     font-size: 15px;
// }

#head {
    background-color: #164e7f;
    color: white;
    font-weight: 200;
    font-size: 13px;
    height: 13px;
}

#t-body {
    font-size: 14px;
}

#header-style {
    padding: 8px 10px;
    text-align: left;
    font-size: 12px;
    background: var(--TableTop-background-color);
    color: var(--TableTop-color);
}

.toppest-header {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    align-items: center;
    font-size: 16px;
    font-weight: 300;
    color: var(--SectionTitleNav-color);
    background-color: var(--SectionTitleNav-background-color);
    padding: 2px 0;
}

#body {
    height: var(--body-height) !important;
    margin-left: var(--body-margin-left) !important;
    // padding-left: var(body-padding-left);
    padding-left: var(--body-padding-left);
    padding-right: var(--body-padding-right);
}